{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="project-section center-column">
{% if user.is_authenticated %}
<div class="add-project-container">
    <a class="btn" href="{% url 'project_new' %}">Add New Project</a>
</div>
{% endif %}
<h2 class="center-column">Projects</h2>

<div class="project-list">

    {% for project in projects %}
    <div class="project-card">
        <a href="{{project.repository}}" target="_blank">
            <img src="{{project.image.url}}" alt="">
            <p>{{project.name}}</p>
            <p>{{project.description}}</p>
            <p>{{project.year}}</p>
    
            <div class="skills-container center-row">
                {% for skill in project.skill.all %}
                    <label class="text-label">{{skill.name}}</label>
                {% endfor %}
            </div>
        </a>
    </div>
    {% endfor %}
</div>
</section>
{% endblock content %}